*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
 box-sizing: border-box;
}
body{
    height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image:url(/project1/asets/pexels-photo-1939485.jpeg);
        
}
.logo{
    font-size: 50px;
    font-weight: 900;
    padding:0;
    margin:0;
    color:rgb(149, 4, 122);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
ul {
    text-align: center;
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 30px;
    padding-top: 0%;
    font-weight: 900;
    font-size: 20px;
}
ul:hover{
    font-size: 26px;
}
button {
    background-color: rgb(18, 155, 155);
    padding: 4px 10px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 700;
    
}

button:hover {
    background-color: white;
    color: rgb(18, 155, 155);
    border: 1px solid black;
    gap: 40px;

}
header{
    padding: 15px;
}
nav ul{
    
            display: flex;
            align-items: center;
            gap: 30px;
            font-weight: 500;
        
}
nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
nav ul li:hover {
    text-decoration: none;
    font-weight: 900;
}
input{
    padding: 14px 10x;
 font-size: 15px;
 
   
}
.search field{
    gap:30px;
    padding: 10px;
    
}
p span {
    color: green;
    font-size: 40px;
    font-weight: 900;
}
p{
    font-size: 30px;
}
h1{
    font-weight: 900;
    font-size: 70px;

}
h1 span{
    color:green;
    font-weight: 900;
    font-size: 70px;
}
.right-section{
    padding: 35px;
    margin-left: 100px;
}
main{
    display: flex;
    width: 100%;
    padding: 0%;
    margin: 0%;
}
img{
    border-radius: 50%;
    width: 350px;
    height: 350px;
   
}
.left-section{
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: large;
    font-weight: 900;
    margin-left: 200px;
}
.left-section button{
    font-size: 20px;
   margin-top: 20px;
}
.footer{
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.paragraph{
    font-weight: 900;
    font-size: 20px;

   margin-left: 0px;
    display: flex;

}
.icons{
    font-size: 30px;
    font-weight: 900;
}

